{% extends 'userbase.html' %}
{% load static %}
{% block content %}
<h2>{{msg}}</h5>

<p><h4>Hotel Management has been the hospitality industrys magazine of record for more than 140 years. Today, it covers hotel investment, development, operations, design, technology, brand strategies and the sharing economy for the new generation of hotel owner, developer, operator, broker and financier. Our editorial staff provides the very latest news and insight for the hospitality community and boasts a masthead brimming with sought-after thought leaders in the industry.
<p><h4>Hotel Management has been the hospitality industrys magazine of record for more than 140 years. Today, it covers hotel investment, development, operations, design, technology, brand strategies and the sharing economy for the new generation of hotel owner, developer, operator, broker and financier. Our editorial staff provides the very latest news and insight for the hospitality community and boasts a masthead brimming with sought-after thought leaders in the industry.



{% endblock %}