{% extends 'adminbase.html' %}

{% load static %}
{% block content %}
<h2>{{msg}}</h5>

<center>
<table width="60%">

<tr><td><img src="{% static 'images/i1.jpg' %}" width="240" height="260" border="0" alt="">
<br><center><h4>Delux Room <br>Price- $ 100
<td><img src="{% static 'images/i2.jpg' %}" width="240" height="260" border="0" alt="">
<br><center><h4>Heritage Room<br>Price- $ 150
<td><img src="{% static 'images/i3.jpg' %}" width="240" height="260" border="0" alt="">
<br><center><h4>Suite Room<br>Price- $ 200

</table>
<br><br>
<table  id="tab" width="40%">
    <tr><td><center><u>DATE</u></center></td><td><center><u>USER</u></center></td><td><center><u>service</u></center></td></tr>
    {% for item in query_results %}
    <tr>
        <td>{{ item.date}}</td>
        <td>{{ item.user}}</td>
        <td>{{ item.service}}</td>
    </tr>
    {% endfor %}
</table>

<br>


{% endblock %}